// Insert variables here

// Body
$body-background: #fff;

// Font
$global-font-color: #404040;
$global-font-family: sans-serif;

// Links
$global-link-color: royalblue;
$global-link-color-hover: midnightblue;
$global-link-color-visited: purple;

// Misc.
$global-spacing: 1.5em;